<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ass</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="container1">
            <div class="content1">
            <h1>Thumbnail</h1>
            <p>This is a wider card with supporting text below as a natural lead-in to addtional content. This content is a little bit longer. <br>
            <button>View</button><button>Edit</button><a href="#">XYZxyz</a></p>
            </div>
            <div class="content1">
            <h1>Thumbnail</h1>
            <p>This is a wider card with supporting text below as a natural lead-in to addtional content. This content is a little bit longer<br>
            <button>View</button><button>Edit</button><a href="#">XYZxyz</a></p>
            </div>
            <div class="content1">
            <h1>Thumbnail</h1>
            <p>This is a wider card with supporting text below as a natural lead-in to addtional content. This content is a little bit longer<br>
            <button>View</button><button>Edit</button><a href="#">XYZxyz</a>
            </p>   
            </div>    
        </div>
        <div class="container1">
            <div class="content1">
            <h1>Thumbnail</h1>
            <p>This is a wider card with supporting text below as a natural lead-in to addtional content. This content is a little bit longer<br>
            <button>View</button><button>Edit</button><a href="#">XYZxyz</a></p>   
            </div>
            <div class="content1">
            <h1>Thumbnail</h1>
            <p>This is a wider card with supporting text below as a natural lead-in to addtional content. This content is a little bit longer<br>
            <button>View</button><button>Edit</button><a href="#">XYZxyz</a></p>
            </div>
            <div class="content1">
            <h1>Thumbnail</h1>
            <p>This is a wider card with supporting text below as a natural lead-in to addtional content. This content is a little bit longer<br>
            <button>View</button><button>Edit</button><a href="#">XYZxyz</a></p>
            </div>    
        </div>
    </section>
</body>
</html>